@import 'src/variables';

.tooltiptext {
  position: absolute;
  bottom: 150%;
  left: 50%;
  padding: 5px 10px;
  margin-left: -18px;
  border-radius: 6px;
  visibility: hidden;
  background-color: $tooltipBackgroundColor;
  color: $primaryTextColor;
  text-align: center;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $tooltipBackgroundColor transparent transparent transparent;
  }
}

.seat-point {
  display: none;
  font-size: 0.7rem;
  color: $primaryTextInvertColor;
}
